
body, h1, h2, h3, h4, h5, h6, ul {
	margin:0;
	padding:0;
}
body {
	background:#eeeeee;
	font-family:Arial, Helvetica, sans-serif;
	line-height:1.125em;
	/*background: url("../images/background_main.png");*/
}
#header {
	min-width: 1000px;
	height:350px;
	overflow:hidden;
}
.header_projects {
	background: url("../images/header_comprar.png");
}
.header_home {
	background: url("../images/header_home.png");
}
#content_comprar {
	padding:37px 0 90px 0;
}
#content_home_top {
	height: 220px;
	background: url("../images/background_home_article_top.png");
}
#content_home_bottom {
	height: 320px;
	background: url("../images/background_home_article_bottom.png");
	margin-bottom: 120px;
}
#main_content_comprar {
	padding:13px 0 0 0;
}
p {
	margin-bottom:18px;
}
a {
	color:#32bde3;
}
a:hover {
	text-decoration:none;
}
h1, h2, h3, h4, h5 {
	line-height:1.2em;
	font-weight:bold;
}
h1 {
	font-size:25px;
	color:#053561;
	margin-bottom:.5em;
}
h2 {
	font-size:15px;
	color:#1eb9e2;
	font-style:italic;
	margin-bottom:.5em;
	margin-top: .5em;
	
}
h3 {
	font-size:12px;
	color:#1eb9e2;
	font-style:italic;
	margin-bottom:.5em;
}
h4 {
	font-size:15px;
	color:#1eb9e2;
	margin-bottom:.5em;
	text-transform: uppercase;
}
.download_button {
	display:inline-block;
	position:relative;
	background-color:#d42400;
	background:-webkit-gradient(linear, 0 0, 0 70%, from(#1eb9e2), to(#126d85));
	background:-moz-linear-gradient(#1eb9e2, #126d85 70%);
	background:linear-gradient(#1eb9e2, #126d85 70%);
	padding:0 18px 0 18px;
	line-height:35px;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	-webkit-transition-duration:0.5s;
	width: 120px;
	text-align: center;
	margin-left: 10px;
}
.download_button:hover {
	background:#fff;
	color:#000;
}
.leer_button {
	display:inline-block;
	position:relative;
	background-color:#155a78;
	padding:0 18px 0 18px;
	line-height:35px;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	-webkit-transition-duration:0.5s;
	width: 120px;
	text-align: center;
	margin-left: 60px;
}
.leer_button:hover {
	background:#fff;
	color:#000;
}
#header h1 {
	padding-top: 10px;	
	line-height:.5em;
	font-weight:bold;
	font-size:28px;
	color:#fff;
	margin-bottom:.5em;
	text-transform: Uppercase;
}
#header p {
	line-height:.5em;
	font-weight:bold;
	font-size:18px;
	color:#fff;
	margin-bottom:.5em;
	text-align: right;
	padding-right: 320px;
}
#header .logo {
	position:absolute;
	padding:20px 0 0 20px;
	z-index: 9999;
}
#header #nav {
	position:absolute;
	right:0px;
	top:97px;
	border:1px solid #a4f9fa;
}
#header #nav ul li {
	float:left;
	list-style-type: none;	
}
#header #nav ul li a {
	float:left;
	color:#fff;
	text-decoration:none;
	width:150px;
	text-align:center;
	line-height:40px;
	font-size:14px;
	background:#376676;
	-webkit-transition-duration:0.5s;
}
#header #nav ul li a:hover, #header #nav ul li a.current {
	background:-webkit-gradient(linear, 0 0, 0 70%, from(#1eb9e2), to(#126d85));
	background:-moz-linear-gradient(#1eb9e2, #126d85 70%);
	background:linear-gradient(#1eb9e2, #126d85 70%);
	
}
.header_title {
	position: relative;
	text-align: center;
	padding-top: 220px;
}
#main_content_comprar .article {
	padding:0 0 32px 0;
	margin-bottom:30px;
	border-bottom:1px solid #5f5f5f;
}
#main_content_comprar .article.no_border {
	padding-bottom:0;
	margin-bottom:0;
	border:none;
}
.container {
	margin-left:auto;
	margin-right:auto;
	width:1000px;
	font-size:.75em;
	position:relative;	
}
.complementary_article {
	width:180px;
	float: left;
}
.main_article {
	width:680px;
	float: right;
}
.left_article {
	width:50%;
	float: left;
}
.right_article {
	width:50%;
	float: right;
}
.left_article a {
display: block;
}
.right_article_image {
	padding-top: 10px;
	padding-left: 22px;
}
.home_article_top {
	height: 220px;
	float: right;
}
.home_article_top h2 {
	padding-top: 40px;
	color: #fff;
	text-align: center;
	font-style: normal;
	font-size: 20px;
	text-transform: uppercase;
}
.home_article_top p {
	padding-top: 10px;
	color: #fff;
	text-align: center;
	font-style: italic;
}
.download_title {
	text-align: center;
	font-size:15px;
	font-style: italic;
	color:#155a78;
	margin-top: 40px;
	margin-bottom:25px;
}
.home_article_bottom h2 {
	font-size: 20px;
	font-style: normal;
	color: #155a78;
	text-transform: uppercase;
}
.home_proyecto_text h2 {
text-align: center;
padding-bottom: 10px;
}
.home_proyecto_text p, h3 {
	padding-left: 15px;
}
.home_article_bottom {
	height: 220px;
	float: right;
}
.home_article_bottom_title {
	padding-top: 10px;
	padding-bottom: 25px;
}
.home_proyecto_image {
	padding-top: 25px;
	padding-left: 20px;
	width: 35%;
	float: left;
}
.home_proyecto_text{
	width: 60%;
	float: right;
}
.clearfix:after {
	clear:both;
	content:' ';
	display:block;
}
.complementary_article_intranet_image {
	padding-top: 70px;
	margin-left: auto;
    margin-right: auto;
	width: 65%;
}
.complementary_article_stars_image {
	margin-left: auto;
    margin-right: auto;
	width: 75%;
}
.justify {
    text-align: justify;
    text-justify: inter-word;
}
#footer .footer_area {
	padding-top: 15px;
	border-top:1px solid #5f5f5f;
	margin:0 auto;
	width:1000px;
	font-size:.75em;
}
.footer_area p {
	margin:0;
	padding:0;
	line-height: 1.5;
	color:#777;
	font-style: italic;
}
.footer_area a {
	margin:0;
	padding:0;
	line-height: 1.5;
	color:#777;
	font-style: italic;
}
.footer_area ul {
list-style: none;
}
.footer_area_section {
	position: relative;
	display: block;
	width: 250px;
	float:left;
	text-align: center;
	padding-bottom: 50px;
}