---
layout: default
title: Enki, Proyectos
slug: Enki
header: home
---
<div id="content_home_top">
	<div class="container">
		<div class="clearfix">
				
			<div class="home_article_top">
				<div class="left_article">
					<h2>¡Bienvenido a la compañ&iacute;a!</h2>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
				</div>
				<div class="right_article">
					<div class="right_article_image">
						<img src="images/home_image1.png" alt="" width="445" height="183">
					</div>
				</div>							
			</div>
				
		</div>
	</div>
</div>

<div id="content_home_bottom">
	<div class="container">
		<div class="clearfix">
			
			<div class="home_article_bottom">
				<h2 class="home_article_bottom_title">Nuestros proyectos</h2>
				<div class="left_article">
					<div class="home_proyecto_image">
						<img src="images/enki_proyecto1.png" alt="" width="158" height="161">
					</div>
					<div class="home_proyecto_text">
						<h2>Jool stateful Nat64</h2>
						<h3>Lorem ipsum dolor sit amet</h3>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
						<a href="#" class="leer_button">Leer m&aacute;s</a> 
					</div>
				</div>
				<div class="right_article">
					<div class="home_proyecto_image">
						<img src="images/enki_proyecto2.png" alt="" width="158" height="161">
					</div>
					<div class="home_proyecto_text">
						<h2>Kaxan - DNSSEC</h2>
						<h3>Lorem ipsum dolor sit amet</h3>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
						<a href="#" class="leer_button">Leer m&aacute;s</a> 
					</div>
				</div>	
			</div>
				
		</div>
	</div>
</div>
	
	






