---
layout: default
title: Proyectos
slug: Proyectos
header: projects
---
<div id="content_comprar">
	<div class="container">
		<div class="clearfix">
			<div id="main_content_comprar">
				<div class="complementary_article">
					<div class="article no_border">
						<div class="complementary_article_intranet_image">
							<img src="/images/enki_intranet.png" alt="" width="109" height="142">
						</div>
						<h2>Potenza RE001-X3</h2>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
						<div class="complementary_article_stars_image">
							<img src="/images/enki_stars.png" alt="" width="130" height="22">
						</div>
						<h3 class="download_title">Descarga GRATIS y prueba este Softare</h3>
						<a href="#" class="download_button">DOWNLOAD</a> 
					</div>
				</div>
				<div class="main_article">
					<div class="article no_border">
						<h1>SOFTWARE - Jool</h1>
						<img src="/images/enki_proyectos.png" alt="" width="680" height="192"> 
					</div>
					<div class="article">
						<h2>Descripci&oacute;n</h2>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. </p> 
						<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus musulla duis. Fuscecer feugiat malesuada odio. Morbi nunc odio, gravida at cursus nece luctus alorem. Maececnas tristique orci ac sem. Duis ultricies pharetra magna. </p> 
						<p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. </p> 
					</div>
					<div class="no_border">
						<a href="#">Envia tus comentarios aqui </a> 
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
	
	
