<div id="footer">
	<div class="footer_area">
		<div class="footer_area_section">
			<img src="{{ site.baseurl }}/images/enki_logo_footer.png" alt="" width="142" height="34">
			<p>&copy; Todos los derechos reservados 2014</p>
			<p>Enki&copy; Monterrey, Nuevo Le&oacute;n, M&eacute;xico.</p>
			<p>&copy;2014&nbsp;<a href="#">Enki</a> &middot; Laboratorio de Innovación by <a href="http://nicmexico.mx">NIC Mexico</a> &middot;</p>
		</div>
		<div class="footer_area_section">
			<h4>Navegaci&oacute;n</h4>
			<div class="left_article">
			<ul>
				<li><a href="index.html">Inicio</a></li>
				<li><a href="nosotros.html">Nosotros</a></li>
				<li><a href="servicios.html">Servicios</a></li>
			</ul>
			</div>
			<div class="right_article">
			<ul>
				<li><a href="proyectos.html">Proyectos</a></li>
				<li><a href="noticias.html">Noticias</a></li>
				<li><a href="contacto.html">Contacto</a></li>
			</ul>
			</div>					
		</div>
		<div class="footer_area_section">
			<h4>S&iacute;guenos</h4>
			<a href="#"><img src="{{ site.baseurl }}/images/facebook_logo_footer.png" alt="" width="28" height="27"></a>
			<a href="#"><img src="{{ site.baseurl }}/images/twitter_logo_footer.png" alt="" width="28" height="27"></a>
		</div>
		<div class="footer_area_section">
			<h4>Ubicaci&oacute;n</h4>
			<p>Av. Revoluci&oacute;n 3000</p>
			<p>Col. Primavera, C.P. 64830</p>
			<p>Tel. (81)8319 6500</p>
		</div>	
	</div>		
</div>

