<div id="header" class="header_{{ site.headers[page.header] }}">
	<div class="container">
		<div class="logo">
			<a href="{{ site.baseurl }}/">
				<img src="{{ site.baseurl }}/images/enki_logo.png" alt="" width="191" height="118">  
			</a>
		</div>
		<div class= "header_title">
			{{ site.quotes[page.header] }}
		</div>
		<div id="nav">
			<ul>
				<li><a href="nosotros.html">Nosotros</a></li>
				<li><a href="servicios.html">Servicios</a></li>
				<li><a href="Proyectos/"  class="current">Proyectos</a></li>
				<li><a href="noticias.html">Noticias</a></li>
				<li><a href="contacto.html">Contacto</a></li>
			</ul>
		</div>
	</div>
</div>
<!-- /header -->