<head>
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ site.description }}">

	<link rel="stylesheet" id="theme-css" href='{{ site.baseurl }}/css/style.css' type="text/css" media="all">
	<link rel="stylesheet" id="theme-css" href='{{ site.baseurl }}/css/main.css' type="text/css" media="all">
</head>
