---
layout: default
---
<div id="content_comprar">
	<div class="clearfix">
		<div class="page-content">
			<div class="wrap">
				<div class="post justify">
					<header class="post-header">
						<h1>{{ page.title }}</h1>
					</header>
					<div class="article post-content">
						{{ content }}
					</div>
					
				</div>

			</div>
		</div>
	</div>
</div>